<div class="col-8 offset-2">
    <div class="form-group">
        <input type="text" id="inputSite" class="form-control" placeholder="Inform the site.">
        <input type="text" id="inputTag" class="form-control" placeholder="Inform the HTML element.">
        <textarea input="inputTarget" placeholder="Here, the result will be displayed." class="form-control"></textarea>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-dark" id="btnGet">Get</button>
        </div>
    </div>
</div>